
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Врач добавлен</h2>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Карточки пациентов", "Index", "CartForPatients1")</li>
                        <li>@Html.ActionLink("Calendar", "Index", "Home")</li>
                        <li>@Html.ActionLink("Доктора", "ShowInfoDoctor", "DoctorInfo")</li>
                        <li>@Html.ActionLink("Услуги и цены", "Categories", "VeterinarianServices")</li>
                        <li>@Html.ActionLink("Отзывы", "Index", "Reviews")</li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>
