@model IEnumerable<ClinicForAnimal1._2.Models.TestWithCart.PatientCart>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diagnoses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnoses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Treatment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.UserName)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.IdCaseRecord }) |
                        @Html.ActionLink("Details", "Details", new { id=item.IdCaseRecord }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.IdCaseRecord })
                    </td>*@
            </tr>
        }

    </table>
</body>
</html>
