@model IEnumerable<ClinicForAnimal1._2.Models.Reviews.Review>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <p>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Главная страница", "Index", "Account")</li>
                        <li>@Html.ActionLink("Календар", "Index", "Home")</li>
                        <li>@Html.ActionLink("Доктора", "ShowInfoDoctor", "DoctorInfo")</li>
                        <li>@Html.ActionLink("Услуги и цены", "Categories", "VeterinarianServices")</li>
                        <li>@Html.ActionLink("Отзывы", "Index", "Reviews")</li>
                        <li>@Html.ActionLink("Администрирование", "InfoForAdmin", "Admin")</li>
                        <li>@Html.ActionLink("Информация для врачей", "Index", "AddDoctors")</li>
                        <li>@Html.ActionLink("Информация о карточки пациента", "InfoForPatient", "CartForPatient")</li>
                    </ul>
                </div>
            </div>
        </div>
    </p>
    <div class="login">
        <p>
            @Html.ActionLink("Добавить отзыв", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.Label("Имя")
                </th>
                <th>
                    @Html.Label("Отзыв")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfPatient)
                    </td>
                    <td style="width:100px;">
                        @Html.DisplayFor(modelItem => item.Review1)
                    </td>
                </tr>
            }
        </table>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
