@model ClinicForAnimal1._2.Models.Services.Categories

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/ContentToCategories.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Calendar", "Index", "Home")</li>
                    <li>@Html.ActionLink("Доктора", "ShowInfoDoctor", "DoctorInfo")</li>
                    <li>@Html.ActionLink("Услуги и цены", "Categories", "VeterinarianServices")</li>
                    <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                    <li>@Html.ActionLink("Войти в свой аккаунт", "Login", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="header">
        <div class="title">Clinic</div>
    </div>
    <div id="categories">
        @{
            Html.RenderAction("Menu", "Nav");
        }

    </div>
    <div id="content">
        @foreach (var item in Model.Services)
        {
            Html.RenderPartial("ServicesSummary", item);
        }
    </div>

</body>
</html> 