@model ClinicForAnimal1._2.Models.Services.Categories

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/ContentToCategories.css" type="text/css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <p>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Главная страница", "Index", "Account")</li>
                        <li>@Html.ActionLink("Календар", "Index", "Home")</li>
                        <li>@Html.ActionLink("Доктора", "ShowInfoDoctor", "DoctorInfo")</li>
                        <li>@Html.ActionLink("Отзывы", "Index", "Reviews")</li>
                        <li>@Html.ActionLink("Администрирование", "InfoForAdmin", "Admin")</li>
                        <li>@Html.ActionLink("Информация для врачей", "Index", "AddDoctors")</li>
                        <li>@Html.ActionLink("Информация о карточки пациента", "InfoForPatient", "CartForPatient")</li>
                    </ul>
                </div>
            </div>
        </div>
    </p>
    <div class="login">
        <div id="header">
            <div class="title">Услуги и цены</div>
        </div>
        <div id="categories">
            @{
                Html.RenderAction("Menu", "Nav");
            }

        </div>
        <div id="content">
            @foreach (var item in Model.Services)
            {
                Html.RenderPartial("ServicesSummary", item);
            }
        </div>
    </div>
</body>
</html> 