@model IEnumerable<ClinicForAnimal1._2.Models.Services.VeterinarianService>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная страница","Index", "Account")</li>
                    <li>@Html.ActionLink("Календар", "Index", "Home")</li>
                    <li>@Html.ActionLink("Доктора", "ShowInfoDoctor", "DoctorInfo")</li>
                    <li>@Html.ActionLink("Услуги и цены", "Categories", "VeterinarianServices")</li>
                    <li>@Html.ActionLink("Отзывы", "Index", "Reviews")</li>
                    <li>@Html.ActionLink("Администрирование", "InfoForAdmin", "Admin")</li>
                    <li>@Html.ActionLink("Информация для врачей", "Index", "AddDoctors")</li>
                    <li>@Html.ActionLink("Информация о карточке пациента", "InfoForPatient", "CartForPatient")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="login">
        <p>
            @Html.ActionLink("Добавить новую услугу", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.Label("Название услуги")
                </th>
                <th>
                    @Html.Label("Количество назначений")
                </th>
                <th>
                    @Html.Label("Стоимость")
                </th>
                <th>
                    @Html.Label("Операция")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfVeterinaryServices)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitOfMeasurement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
