@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Calendar", "Index", "Home")</li>
                    <li>@Html.ActionLink("Доктора", "ShowInfoDoctor", "DoctorInfo")</li>
                    <li>@Html.ActionLink("Услуги и цены", "ShowCategory", "VeterinarianServices")</li>
                </ul>
            </div>
        </div>
    </div>
    <h2>Информация о ветклинике</h2>
    <p>
        Когда домашний питомец болен, все проблемы отходят на второй план,
        а единственно важным занятием становится поиск ветеринарной клиники,
        которая оказывает квалифицированную помощь.
    </p>
    <p>
        Ветклиника «ВетМедЦентр» открылась в Минске в октябре 2014 года,
        и мы смело можем констатировать, что предлагаем своим клиентам комплексную диагностику домашнего питомца,
        проводимую профессиональными ветеринарными докторами по доступным ценам в укомплектованной современным оборудованием клинике.
    </p>
    <p>
        В нашей ветлечебнице мы оказываем широкий спектр услуг, включающий в себя терапевтические, хирургические, травматологические
        и гинекологические услуги, лабораторные исследования и УЗИ, консультации кардиолога, невролога, стоматолога, а также вакцинацию и чипирование.
    </p>
    <p>
        В «ВетМедЦентре» работает коллектив замечательных ветеринарных врачей — профессиональных специалистов, кандидатов наук, авторов многих научных публикаций.
        И, кстати, кроме лечения собак и кошек, к нам можно обратиться с целью лечения птиц, грызунов, приматов, пресмыкающихся и земноводных!
    </p>
    <p><img src="~/Content/images.png" alt="котик" /></p>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>