@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Content/Index.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        <div class="user">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
        </div>
    </div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Календарь", "Index", "Home")</li>
                        <li>@Html.ActionLink("Доктора", "ShowInfoDoctor", "DoctorInfo")</li>
                        <li>@Html.ActionLink("Услуги и цены", "Categories", "VeterinarianServices")</li>
                        <li>@Html.ActionLink("Отзывы", "Index", "Reviews")</li>
                        <li>@Html.ActionLink("Администрирование", "InfoForAdmin", "Admin")</li>
                        <li>@Html.ActionLink("Информация для врачей", "Index", "AddDoctors")</li>
                        <li>@Html.ActionLink("Информация о карточке пациента", "InfoAboutPatient", "CartForPatients1")</li>
                    </ul>
                </div>
            </div>
        </div>
    <h2>Информация о ветклинике</h2>
    <p>
        Когда домашний питомец болен, все проблемы отходят на второй план,
        а единственно важным занятием становится поиск ветеринарной клиники,
        которая оказывает квалифицированную помощь.
    </p>
    <p>
        Ветклиника «ВетМедЦентр» открылась в Минске в октябре 2014 года,
        и мы смело можем констатировать, что предлагаем своим клиентам комплексную диагностику домашнего питомца,
        проводимую профессиональными ветеринарными докторами по доступным ценам в укомплектованной современным оборудованием клинике.
    </p>
    <p>
        В нашей ветлечебнице мы оказываем широкий спектр услуг, включающий в себя терапевтические, хирургические, травматологические
        и гинекологические услуги, лабораторные исследования и УЗИ, консультации кардиолога, невролога, стоматолога, а также вакцинацию и чипирование.
    </p>
    <p>
        В «ВетМедЦентре» работает коллектив замечательных ветеринарных врачей — профессиональных специалистов, кандидатов наук, авторов многих научных публикаций.
        И, кстати, кроме лечения собак и кошек, к нам можно обратиться с целью лечения птиц, грызунов, приматов, пресмыкающихся и земноводных!
    </p>
    <p><img src="~/Content/images.png" alt="котик" /></p>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>