@model ClinicForAnimal1._2.Models.LoginModel

@{
    ViewBag.Title = "Login";
}



<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная страница", "Index", "Account")</li>
                    <li>@Html.ActionLink("Календарь", "Index", "Home")</li>
                    <li>@Html.ActionLink("Доктора", "ShowInfoDoctor", "DoctorInfo")</li>
                    <li>@Html.ActionLink("Услуги и цены", "Categories", "VeterinarianServices")</li>
                    <li>@Html.ActionLink("Отзывы", "Index", "Reviews")</li>
                    <li>@Html.ActionLink("Администрирование", "InfoForAdmin", "Admin")</li>
                    <li>@Html.ActionLink("Информация для врачей", "Index", "AddDoctors")</li>
                    <li>@Html.ActionLink("Информация о карточке пациента", "InfoAboutPatient", "CartForPatients1")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="login">
        @using (Html.BeginForm())
        {
            <h2>Вход на сайт</h2>
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary()
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <p>
                    <label>Email</label><br />
                    @Html.EditorFor(x => x.Email)
                </p>
                <p>
                    <label>Пароль</label><br />
                    @Html.EditorFor(x => x.Password)
                </p>
                <p><button type="submit">Войти</button></p>
            </div>
        }
    </div>
</body>