@model IEnumerable<ClinicForAnimal1._2.Models.PatientCart.CartForPatient>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Календар", "Index", "Home")</li>
                    <li>@Html.ActionLink("Доктора", "ShowInfoDoctor", "DoctorInfo")</li>
                    <li>@Html.ActionLink("Услуги и цены", "Categories", "VeterinarianServices")</li>
                    <li>@Html.ActionLink("Отзывы", "Index", "Reviews")</li>
                    <li>@Html.ActionLink("Администрирование", "InfoForAdmin", "Admin")</li>
                    <li>@Html.ActionLink("Информация для врачей", "Index", "AddDoctors")</li>
                    <li>@Html.ActionLink("Информация о карточки пациента", "InfoForPatient", "CartForPatient")</li>
                </ul>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Создать новую карточку", "Create")
        @Html.ActionLink("Информация по пациенте", "InfoAboutPatient")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Диагноз больного")
            </th>
            <th>
                @Html.Label("Лечение")
            </th>
            <th>
                @Html.Label("Имя пользователя")
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
            </td>
            <td>
                @Html.ActionLink("Изменить карточку", "Edit", new { id=item.IdCaseRecord }) |
    
                @Html.ActionLink("Удалить", "Delete", new { id=item.IdCaseRecord })
            </td>
        </tr>
    }
    
    </table>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
